* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f2f5;
}

/* Centraliza o conteúdo principal na tela */
.container-central {
  display: flex;
  justify-content: center; /* Centraliza na horizontal */
  align-items: center; /* Centraliza na vertical */
  height: 80vh; /* Ocupa 80% da altura da tela */
}

/* O "card" branco que envolve o texto e botões */
.card-boas-vindas {
  background-color: #dfd8d8;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 90%;
}

.card-boas-vindas h1 {
  margin-bottom: 10px;
  color: var(--sidebar-color);
}

.card-boas-vindas p {
  margin-bottom: 30px;
  color: #666;
}

/* Estilo geral dos botões */
.grupo-botoes {
  display: flex;
  gap: 20px; /* Espaço entre os botões */
  justify-content: center;
}

.btn {
  background-color: #000000;
  text-decoration: none; /* Remove o sublinhado do link */
  padding: 12px 25px;
  border-radius: 6px;
  font-weight: bold;
  transition:
    transform 0.2s,
    background 0.2s;
}

.btn:hover {
  transform: translateY(-3px); /* Efeito de flutuar ao passar o mouse */
}

/* Cores específicas para cada botão */
.btn-funcionario {
  background-color: #000000;
  color: white;
}

.btn-cliente {
  background-color: #000000;
  color: white;
}
